<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio</title>

    <!-- stylesheet -->
    <link rel="stylesheet" href="../pf-base.css">
    <link rel="stylesheet" href="./pf-flex.css">
</head>
<body>
    <div class="pf-container">
        <div class="pf-sidebar-container">
            <div class="pf-sidebar">
                <h1>Hi there!</h1>
                <p>My name is Yash and I'm a Front End Engineer</p>
            </div>
        </div>

        <div class="pf-content">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis incidunt odit doloribus similique vitae, voluptates officiis, repellendus possimus, blanditiis voluptate sit nostrum ex adipisci recusandae dignissimos esse consequuntur cumque. Necessitatibus.</p>

            <h1>Services</h1>

            <div class="pf-grid">
                <div class="pf-grid-item">
                    <h1>Consulting</h1>
                    <p>Lorem ipsum</p>
                    <a href="#">Learn more &RightArrow;</a>
                </div>
                <div class="pf-grid-item">
                    <h1>Consulting</h1>
                    <p>Lorem ipsum</p>
                    <a href="#">Learn more &RightArrow;</a>
                </div>
                <div class="pf-grid-item">
                    <h1>Consulting</h1>
                    <p>Lorem ipsum</p>
                    <a href="#">Learn more &RightArrow;</a>
                </div>
                <div class="pf-grid-item">
                    <h1>Consulting</h1>
                    <p>Lorem ipsum</p>
                    <a href="#">Learn more &RightArrow;</a>
                </div>
                <div class="pf-grid-item">
                    <h1>Consulting</h1>
                    <p>Lorem ipsum</p>
                    <a href="#">Learn more &RightArrow;</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>