
body {
    background-color: #e1d669;
}


header {
    display: flex;
    justify-content: space-between;
    background-color: #e1d669;
    height: auto;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
}


header #logo {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;

}

header #links {
    justify-content: space-between;
    display: flex;
    align-items: center;
    
}
header #links a {
    color: #222;
    margin-right: 10px;
    text-decoration: none;
    font-size: 1.2rem;
}

header #logo a {
    color: #222;
    margin-left: 3%;
    text-decoration: none;
    padding: 3%;
    width: auto;
    display: flex;
    flex-direction: row;
    align-content: space-between;


}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#getstarted {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    font-size: 1rem;
    background: url("https://pixabay.com/get/ec32b20c21f11c22d9584518a33219c8b66ae3d01ab1184896f1c27e/wrist-watch-573395_1920.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Cormorant Garamond', serif;

}

#getstarted h2 {
    font-size: 3rem;
    text-transform: uppercase;
    color: #e1d669;
    /* color: #e1d669; */
    font-weight: 400;
    
}
#getstarted h3 {
    margin-top: 0;
    color: #e1d669;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 100;
}

#form {
    display: flex;
    flex-direction: column;
}

#form input[type="submit"]{
    margin-top: 20px;
    border: none;
    padding: 7px;
    border-radius: 6px;
    background-color: #e1d669;
    border: 3px double;
    color: #222222;
    text-transform: uppercase;
}

#form input[type="email"]{
    padding: 10px;
    border-radius: 6px;
    border: 3px double;
    /* background-color: #f2e4e6; */
    color: #e1d669;
    background-color: #222222;
}

#blurback {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(34, 34, 34, 0.8);
    width: 100%;
    height: auto;
    border-radius: 6px;

}

#features {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-basis: inherit;
    justify-content: stretch;
    background-color: #222;
    color:#e1d669;
    font-size: 10px;
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: 2px;
}


#feature1{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
    width: 33.33%;
    text-align: center;
    margin-top: 5%;
    padding: 3%;
    font-size: 2em;

}
#feature2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5%;
    border-left: 1px solid #e1d669;
    border-right: 1px solid #e1d669;
    padding: 3%;
    font-size: 2em;

    flex: 1 1 auto;
    width: 33.33%;


}
#feature3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5%;
    padding: 3%;
    flex: 1 1 auto;
    width: 33.33%;
    font-size: 2em;


}

i.fas , i.fab{
    font-size: 3rem;
}

i.fa-crown {
    margin-right: 5%;
}

#product-video {
    display: flex;
    justify-content: center;
    padding: 5%;
    background-color: #222;
    margin-top: -5px;
}



#about {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5%;
    border-top: 4px solid #e1d669;
    background-color: #222;
    color: #e1d669;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5em;
}

#history {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5%;
    border-top: 4px solid #e1d669;
    background-color: #222;
    color: #e1d669;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5em;
}


#footer {
    
     background-color: #e1d669;
     color: #222;
     padding: 2%;
     font-family: 'Cormorant Garamond', serif;
     font-size: 1.2em;
    
}

#footer ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

#footer ul li {
    padding: 0 10px;
}

#footer a {
    text-decoration: none;
    color: #222;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
}

#footer span {
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
    text-transform: uppercase;
}


@media screen and (max-width: 426px) and (min-width: 319px) {
    

    header {

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #e1d669; 
        height: auto;
        font-family: 'Cormorant Garamond', serif;
        font-weight: 500;
        font-size: 1.5rem;
        text-transform: uppercase;
        align-items: center;
    }

    header #links {
        justify-content: space-between;
        flex-direction: row;
        display: flex;
        align-items: center ;
        height: auto;
        justify-content: center;
        margin: 5%;

        
    }

    #getstarted {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        font-size: 0.5rem;
        background: url("https://cdn.pixabay.com/photo/2017/02/17/05/53/watch-2073423_960_720.jpg");
        background-size: cover;
        background-position: center;
        font-family: 'Cormorant Garamond', serif;
    
    }

    #getstarted h2 {
        font-size: 2rem;
        text-transform: uppercase;
        color: #e1d669;
        /* color: #e1d669; */
        font-weight: 400;
        text-align: center;
        
    }
    #getstarted h3 {
        margin-top: 0;
        color: #e1d669;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 100;
    }


    #features {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #222;
        color:#e1d669;
        font-size: 10px;
        font-family: 'Cormorant Garamond', serif;
        letter-spacing: 2px;
        width: 100%;
        height: auto;
    
    }


    #feature1{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 1 auto;
        width: 100%;
        height: auto;
        text-align: center;
        margin-top: 5%;
        padding: 3%;
        font-size: 2em;

    }
    #feature2{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 5%;
        /* border-left: 1px solid #e1d669;; */
        /* border-right: 1px solid #e1d669; */
        padding: 3%;
        font-size: 2em;

        flex: 1 1 auto;
        width: 100%


    }
    #feature3{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 5%;
        padding: 3%;
        flex: 1 1 auto;
        width: 100%;
        font-size: 2em;


    }
        

    #footer {
    
        background-color: #e1d669;
        color: #222;
        padding: 2%;
        font-family: 'Cormorant Garamond', serif;
        font-size: 1.2em;
        display: flex;
        flex-direction: column;
   
    }

    #footer ul {
        display: flex;
        list-style-type: none;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    #footer ul li {
        padding: 2%;
    }
    
    #footer span {
        display: flex;
        justify-content: flex-end;
        padding: 0 10px;
        text-transform: uppercase;
        justify-content: center;
    }

    nav#nav-bar {
        display: flex;
        flex-direction: column;
    }

    a.nav-link {
        padding: 5%;
    }
  }